body {
    margin-bottom: 15%;
}

.contact {
  text-align: justify;
  margin-left: 30%;
  margin-top: 10%;
  width: 75%;
}

h2{
  font-size: 20px;
}

.phone {
  padding-top: 10px;
}

.address {
  padding-top: 10px;
}

form {
  float: left;
  margin-left: 120px;
}
