body {
  font-family: 'Raleway', sans-serif;
  color: rgba(88, 53, 104, 1);
  line-height: 20px;
  background-color: rgba(132, 191, 99, .3);
}


.header {
  margin-bottom: 0;
  background: url("img/bamboo.jpg");
  height: 278px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 105%;
}

.header h1 {
  color: white;
  font-size: 27px;
  position: relative;
  top: 247px;
}


.nav li {
  float: left;
  margin-left:13%;
  padding-top:12px;
}

.nav a{
  text-decoration: none;
  color: white;
}

.nav {
  background-color: rgba(132, 191, 99, .8);
  height: 40px;
  width: 105%;
}

.dropdown-menu{
  display: none;
  background-color: rgba(255, 255, 255, .9);
  position: absolute;
  margin: 0px;
  border: white 1px solid;
  border-radius: 5px;
  z-index: 10;
}

.dropdown-menu li{
  float: none;
  margin: 10px;
  text-align: justify;
}

.dropdown-menu a{
  color: rgba(88, 53, 104, 1);
}

.dropdown-menu li:hover {
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}

form {
  float: left;
  margin-left: 120px;
}
